.searchForm {
    text-align: center;
    margin-bottom: 50px;
}

.searchInput {
    padding: 0 10px;
    height: 40px;
    width: 200px;
    border: 1px solid rgb(102, 167, 167);
    border-radius: 10px;
    margin: 0 20px;
    font-size: 20px;
}

.searchBtn {
    border: none;
    background-color: grey;
    color: #fff;
}

.searchBtn:hover {
    background-color: rgb(102, 167, 167);
    color: #fff;
    border: none;
}